<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/html"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <title>Страница администратора</title>
</head>
<body style="background-color: white">
<div class="container-fluid">
    <div th:replace="fragments :: header"></div>

    <div class="row">
        <div class="col-2 pt-3 px-0">
            <nav class="nav nav-pills flex-column bg-white" th:id="left_block_nav">
                <a class="nav-link active disabled" href="#" id="user_link_0"
                   onclick='left_block_click_user(0)'>Администратор</a>
                <a th:each="user : ${users}" class="nav-link"
                   href="#" th:text="${user.firstname} + ' ' + ${user.lastname}"
                   th:onclick="'left_block_click_user(' + ${user.id} + ')'"
                   th:id="'user_link_' + ${user.id}">
                </a>
            </nav>
        </div>

        <div class="col-10 bg-light py-3 px-4" style="height: 100vh">
            <div id="users_panel">
                <h1>Панель администратора</h1>
                <ul class="nav nav-tabs pt-2">
                    <li class="nav-item">
                        <a class="nav-link active disabled" href="#">Список пользователей</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="new_user_click()">Новый пользователь</a>
                    </li>
                </ul>

                <div class="border-bottom">
                    <ul class="nav nav-tabs font-weight-bold">
                        <li class="nav-item text-dark w-100">
                            <a class="nav-link active disabled bg-light h5" href="#" id="title2">Пользователи</a>
                        </li>
                    </ul>
                </div>

                <div style="background-color: white; padding: 16px 20px; border: 1px solid #dadada;">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Имя</th>
                            <th>Фамилия</th>
                            <th>Возраст</th>
                            <th>Е&#8288;&#8209;&#8288;мэйл</th>
                            <th style="min-width: 160px">Роли</th>
                            <th class="about_hide">Заблокирован</th>
                            <th class="about_hide">Редактировать</th>
                            <th class="about_hide">Удалить</th>
                        </tr>
                        </thead>
                        <tbody id="list_of_users">
                        <tr th:each="user : ${users}" th:id="'tr_id_' + ${user.id}" class="about_user">
                            <td th:text="${user.id}" th:id="'user_id_id_' + ${user.id}"></td>
                            <td th:text="${user.firstname}" th:id="'user_firstname_id_' + ${user.id}"></td>
                            <td th:text="${user.lastname}" th:id="'user_lastname_id_' + ${user.id}"></td>
                            <td>
                                <span th:text="${user.age < 0} ? '' : ${user.age}"
                                      th:id="'user_age_id_' + ${user.id}"></span>
                                <span hidden th:text="${user.birthdateAsString}"
                                      th:id="'user_birthdate_id_' + ${user.id}"></span>
                                <span hidden th:text="${user.password}"
                                      th:id="'user_password_id_' + ${user.id}"></span>
                                <span hidden th:text="${user.parentAdminId}"
                                      th:id="'user_parent_id_id_' + ${user.id}"></span>
                            </td>
                            <td class="class_email" th:text="${user.email}" th:id="'user_email_id_' + ${user.id}"></td>
                            <td>
                                <ul class="list-group" th:id="'user_roles_id_' + ${user.id}">
                                <span th:each="role : ${user.rolesNames}">
                                    <li class="list-group-item p-0" th:text="${role}"
                                        th:name="'role_user_' + ${user.id}"></li>
                                </span>
                                </ul>
                            </td>
                            <td class="about_hide">
                                <span th:switch="${user.locked}">
                                    <input th:case="true" type="checkbox" class="checkbox"
                                           style="height: 24px; width: 24px" checked
                                           th:onclick="'lock_click(' + ${user.id} + ')'"
                                           th:id="'user_locked_id_' + ${user.id}">
                                    <input th:case="false" type="checkbox" class="checkbox"
                                           style="height: 24px; width: 24px"
                                           th:onclick="'lock_click(' + ${user.id} + ')'"
                                           th:id="'user_locked_id_' + ${user.id}">
                                </span>
                            </td>
                            <td class="about_hide">
                                <button type="button" class="btn btn-info"
                                        data-toggle="modal" data-target="#userDialog"
                                        th:data-id="${user.id}"
                                        th:data-action="update">
                                    Редактировать
                                </button>
                            </td>
                            <td class="about_hide">
                                <button type="button" class="btn btn-danger"
                                        data-toggle="modal" data-target="#userDialog"
                                        th:data-id="${user.id}"
                                        th:data-action="delete">
                                    Удалить
                                </button>
                            </td>
                        </tr>
                        <!------------------------------------------------------------------------------>
                        <tr id="tr_id_new_user" class="about_user" hidden>
                            <td id="user_id_id_new_user"></td>
                            <td id="user_firstname_id_new_user"></td>
                            <td id="user_lastname_id_new_user"></td>
                            <td>
                                <span id="user_age_id_new_user"></span>
                                <span hidden id="user_birthdate_id_new_user"></span>
                                <span hidden id="user_password_id_new_user"></span>
                                <span hidden id="user_parent_id_id_new_user"></span>
                            </td>
                            <td class="class_email" id="user_email_id_new_user"></td>
                            <td>
                                <ul class="list-group" id="user_roles_id_new_user">
                                    <li class="list-group-item p-0" name="role_user_new_user"></li>
                                </ul>
                            </td>
                            <td class="about_hide">
                                <input type="checkbox" class="checkbox" style="height: 24px; width: 24px"
                                       onclick="lock_click(new_user)" id="user_locked_id_new_user">
                            </td>
                            <td class="about_hide">
                                <button type="button" class="btn btn-info" data-id="new_user"
                                        data-toggle="modal" data-target="#userDialog" data-action="update">
                                    Редактировать
                                </button>
                            </td>
                            <td class="about_hide">
                                <button type="button" class="btn btn-danger" data-id="new_user"
                                        data-toggle="modal" data-target="#userDialog" data-action="delete">
                                    Удалить
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="new_user_panel" hidden>
                <h1>Панель администратора</h1>
                <ul class="nav nav-tabs pt-2">
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="users_click()">Список пользователей</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active disabled" href="#">Новый пользователь</a>
                    </li>
                </ul>

                <div class="border-bottom">
                    <ul class="nav nav-tabs font-weight-bold">
                        <li class="nav-item text-dark w-100">
                            <a class="nav-link active disabled bg-light h5" href="#">
                                Зарегистрировать пользователя
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="border-bottom bg-white text-center font-weight-bold m-auto py-3" style="width: 300px"
                     th:object="${newUser}">
                    <div class="form-group input-group-sm">
                        <label for="firstname" class="m-0">Имя*</label>
                        <input type="text" class="form-control" id="firstname" placeholder="Имя"
                               required th:field="*{firstname}">
                    </div>
                    <div class="form-group input-group-sm">
                        <label for="lastname" class="m-0">Фамилия*</label>
                        <input type="text" class="form-control" id="lastname" placeholder="Фамилия"
                               required th:field="*{lastname}">
                    </div>
                    <div class="form-group input-group-sm">
                        <label for="birthdate" class="m-0">Дата рождения</label>
                        <input type="date" class="form-control" id="birthdate" th:field="*{birthdate}">
                    </div>
                    <div class="form-group input-group-sm">
                        <label for="email" class="m-0">Электронная почта*</label>
                        <input type="email" class="form-control" id="email" placeholder="Электронная почта"
                               required th:field="*{email}">
                    </div>
                    <div class="form-group input-group-sm">
                        <label for="password" class="m-0">Пароль*</label>
                        <input type="password" class="form-control" id="password" placeholder="Пароль"
                               required minlength="2" maxlength="50" th:field="*{password}">
                    </div>
                    <div class="form-group">
                        <label for="roles" class="m-0">Роли(можно несколько)</label>
                        <select class="form-control" id="roles" name="roles" multiple size="5">
                                    <span th:each="role : ${allRoles}">
                                    <option th:value="${role.name}" th:text="${role.name}" th:field="*{roles}"></option>
                                    </span>
                        </select>
                    </div>
                    <button type="button" class="btn btn-success" onclick="save_new_user_click()">
                        Зарегистрировать
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="userDialog" tabindex="-1" role="dialog" aria-labelledby="userDialogLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title " id="userDialogLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form>
                    <div class="form-group text-center font-weight-bold py-0 px-4">
                        <label for="user-id" class="mb-0">ID</label>
                        <input type="text" class="form-control form-control-sm w-50 my-0 mx-auto" id="user-id" disabled>
                    </div>
                    <div class="form-group text-center font-weight-bold py-0 px-4">
                        <label for="user-firstname" class="mb-0">Имя*</label>
                        <input type="text" class="form-control form-control-sm w-50 my-0 mx-auto" id="user-firstname"
                               onFocus="this.select()">
                    </div>
                    <div class="form-group text-center font-weight-bold py-0 px-4">
                        <label for="user-lastname" class="mb-0">Фамилия*</label>
                        <input type="text" class="form-control form-control-sm w-50 my-0 mx-auto" id="user-lastname"
                               onFocus="this.select()">
                    </div>
                    <div class="form-group text-center font-weight-bold py-0 px-4">
                        <label for="user-birthdate" class="mb-0">Дата рождения</label>
                        <input type="date" class="form-control form-control-sm w-50 my-0 mx-auto" id="user-birthdate">
                    </div>
                    <div class="form-group text-center font-weight-bold py-0 px-4">
                        <label for="user-email" class="mb-0">Е-мэйл*</label>
                        <input type="email" class="form-control form-control-sm w-50 my-0 mx-auto" id="user-email"
                               onFocus="this.select()">
                    </div>
                    <div class="form-group text-center font-weight-bold py-0 px-4" id="user-password-area">
                        <label for="user-password" class="mb-0">Пароль</label>
                        <input type="password" class="form-control form-control-sm w-50 my-0 mx-auto"
                               id="user-password" onFocus="this.select()">
                    </div>

                    <div class="d-flex justify-content-center">
                        <label class="mb-0 font-weight-bold" for="user-roles">Роли(можно несколько)</label>
                    </div>
                    <div class="d-flex justify-content-center">
                        <select class="form-control w-50" id="user-roles" name="roles" multiple size="5">
                            <span th:each="role : ${allRolesNames}">
                                <option th:id="'user_role_' + ${role}" th:name="'option'"
                                        th:value="${role}" th:text="${role}">
                                </option>
                            </span>
                        </select>
                    </div>

                    <input type="checkbox" id="user-locked" hidden>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button id="save-user-button" type="button" class="btn btn-primary">Сохранить</button>
                <button id="delete-user-button" type="button" class="btn btn-danger">Удалить</button>
            </div>

        </div>
    </div>
</div>

<span th:id='my_id' hidden th:text="${my_id}"></span>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script src="modal.js"></script>
<script src="script.js"></script>
</body>
</html>
